body {
  background-color: #fafafa;
}

html, body, #root {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.landing {
  color: #555;
  text-align: center;
  max-width: 250px;
  overflow: hidden;
  margin-top: 10px;
}

.hil {
  color: #555;
  text-align: center;
  padding-top: 20px;
  line-height: 1.3em;
  max-width: 250px;
  overflow: hidden;
}

.hil a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}